.container1 {
    display: flex;
    justify-content: center;
    gap: 10vh;
  }
  
  .leftCol {
    width: 30vh;
    height: 80vh;
  }
  
  .rightCol {
    width: 50vh;
    height: 50vh;
    background-image: url("https://static.nike.com/a/images/t_default/e9e94e99-b4d1-4e0a-a1a3-419776037b49/air-max-90-shoes-kRsBnD.png");
  }
  .nike-shoes-heading {
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color:#D8C4B6;
    padding-top: 100px;
  }
  .heading3{
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    color:#F5EFE7;
    padding-top: 10px;
  }
  .custom-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: black;
    color: white;
  }
  .button-link {
    text-decoration: none;
    color: black;
  }
  
  .button-link:hover {
    color: white;
  }